@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif; }

#content {
  background-color: #FCFCFD; }

.sidebar .nav-item span {
  font-size: 14px !important; }
.sidebar .nav-item i {
  font-size: 16px !important; }
.sidebar-brand-icon i {
  color: #296FF3; }

td,
.sidebar .nav-item span, 
.sidebar .nav-item i {
  color: #697586 !important; }
.sidebar .nav-item.active span, 
.sidebar .nav-item.active i {
  color: #FFFFFF !important; }
th,
.text-title,
.sidebar .nav-item.active span, 
.sidebar .nav-item:hover span {
  font-weight: 500; }
.sidebar .nav-item.active,
.rounded-toggle  {
  background-color: #296FF3 !important; }
#sidebarToggle::after {
  color: #FFFFFF !important; }

.card {
  border: 0;
  overflow: hidden;
  border-radius: 20px; }
.card-header {
  border: 0;
  background-color: #FFFFFF; }
.bg-icon i {
  font-size: 45px;
  color: #FFFFFF; }

th,
.text-title,
.sidebar-brand-text,
.needs-validation input,
.needs-validation label {
  color: #121926; }

.text-prd { color: #FCA758; }
.text-itm { color: #FC587F; }
.text-ctr { color: #58CBFC; }
.text-spr { color: #3FF186; } 

.bg-products {
  background: linear-gradient(180deg, #FCA758 0%, #FA7E69 100%); }
.bg-items {
  background: linear-gradient(180deg, #FC587F 0%, #FA6969 100%); }
.bg-categories {
  background: linear-gradient(180deg, #58CBFC 0%, #6989FA 100%); }
.bg-suppliers {
 background: linear-gradient(180deg, #3FF186 0%, #28B750 100%); }